body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #e6e6e6;
  background-image: url("../img/4kr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}


/*header*/

header {
  margin-top: 15px;
}

header nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#home_button {
  margin-left: 15px;
}

#meny_button {
  margin-right: 15px;
}

header div {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  transition: background 1s;
  transition: border 1s;
}

header div:hover{
  background: rgba(229, 229, 229, 1.0);
  border: 1px solid black;
  border-radius: 5px;
}

header a {
  font-size: 17px;
  color: white;
  transition: color 1s;
}

header div:hover a {
  color: black
}

/* Main title thing*/


main {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.main_text {
  border: 2px solid rgba(255, 255, 255);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75);
  width: 65%;
}

.main_text h1 {
  color: #404040;
  margin-left: 10px;
}

.main_text p {
  color: #404040;
  margin-left: 10px;
  margin-bottom: 40px;
  margin-right: 10px;
}

aside {
  max-width: 250px;
  height: auto;
  color:  #404040;
}

aside img {
  width: 100%;
  height: auto;
  border: 2px solid rgba(255, 255, 255);
  border-radius: 5px;
}

aside div {
  border: 2px solid rgba(255, 255, 255);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
}

aside p {
  margin-left: 10px;
  color: #404040;
}

aside p a {
  color: #301ad6;
}

#cpu_whitebg {
  border: 2px solid #949494;
}
/*footer*/


footer {
  background: rgba(255, 255, 255);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 23px;
  border-top: 2px solid #e3e3e3;
  margin-top: 50px;
  position: fixed;
}

footer p {
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
}

footer a {
  color: #0000FF;
  text-decoration: underline;
}
